/* reset */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{background-color: #ffffff;}
body, ul, li, div, section, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, header, footer{
  margin: 0; padding: 0;
  font-family: '맑은 고딕';
  font-size: 16px;
  color: #666666;
  line-height: 2;
  letter-spacing: -1px;
}

ul, ul, dl, dt, dd, ol{
  list-style: none;
}

a{ color: #666666; text-decoration: none; font-family:'GmarketSansMedium'}
a:hover{ color:#009688; }
img{ border: none;}
/* sub #6a6a6a */

/*inspector 검수용 스타일은 스타일을 아주 구제적 !important 까지 넣어야함!*/
.red{border-bottom: #06C6C2  1px solid !important;}

/* common */
.container{ width: 1200px; margin: 0 auto;}
.clear:after{content: ""; display:block; clear:both; }
.rel{position: relative}
.abs{position: absolute;}
.fix{position: fixed;}
.fl{float: left;}
.fr{float: right;}
.disB{display: block;}
.disN{display: none;}
.disI{display: inline-block;}

/*애니메이션 불가 : display auto인 것 (keyframes도 안된다는 뜻)*/
/* 레이아웃 */

header#hd{position:relative; /*height: 100px;*/ padding: 15px 0;}
.back{position: absolute; height: 0; background: rgba(6, 85, 198, 0.6);
      width: 100%; top:100%; left: 0; transition: 0.5s; overflow: hidden;}
/* 잊지마세요! 프로! 레이아웃 잡기 위해! */
#hd a, #hd img{display: block;}
#hd img{height: 46px;}
#gnb > li {
  height: 46px;
  z-index: 100;
}
#gnb > li .d1{
              display: inline-block; line-height: 46px;
              font-size: 20px; font-weight: bold;
              padding:0 1em 15px; } /*padding의 기준은 나,여백에 손을 올려도 효과가 있음. margin의 기준은 부모*/
#gnb .d2{
         width:100%; top:calc(100% + 15px); left:2px;
         padding: 0 15px;
         height: 0; transition: 0.5s; overflow: hidden;}
#gnb .d2:before{content: ""; display: block; height:15px;}
#gnb .d2 li a{font-size: 0.9em; line-height: 1.6; color:white; }

#gnb li:nth-child(1) .d2{left:5px}
#gnb li:nth-child(3) .d2{left:5px}
#gnb li:nth-child(4) .d2{width: 80px}

/* 마우스가 올라간 대메뉴 li 속 소메뉴 .d2의 높이가 120 */
/* #gnb>li:hover .d2{height:120px;} */
/* 전체 소메뉴 노출 */
#gnb:hover .d2,
#gnb:hover + .back{height:120px;}
/* 마우스가 올라간 대메뉴 1i 속 대메뉴 a의 색상 처리 */
#gnb>li:hover .d1,
#gnb>li .d2 a:hover{color:#0655C6;}

section#main{}

footer#fd{/*height: 100px;*/}
